#root {
  max-width: 100%;
}


.fondo{
  background-image: url("https://s0.smartresize.com/wallpaper/450/714/HD-wallpaper-anime-lycoris-recoil-chisato-nishikigi.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border: 10px solid black ;
}

.fondo2{
  background-image: url("https://i.pinimg.com/736x/75/13/2d/75132d0702a234c995261b41ec8ed64f.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border: 10px solid black ;
}
